<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono'
    rel='stylesheet' type='text/css' />
  <link href='//fonts.googleapis.com/css?family=Dosis:500&text=LabelStudio' rel='stylesheet'
    type='text/css' />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css"
    media="all">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title>Label Studio</title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <div class="container h-100 d-flex align-items-center justify-content-center">
    {% if message is not none %}
    <div class="card w-100">
      <div class="card-body">
        <div class="row">
          <div class="col-3-md offset-md-9">
            <div class="chat-bubble chat-bubble-right target-message">
              {{ message.content }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h5>
              Select the appropriate category
              <small class="text-muted">for the message in blue</small>
            </h5>
          </div>
        </div>

        <form action="submit" method="post" accept-charset="utf-8">
          <input type="hidden" name="conv_id" value="{{ message.conversation.id }}">
          <input type="hidden" name="message_num" value="{{ message.number }}">
          <input type="hidden" name="message" value="{{ message.content }}">
          <div id="category" class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="category" id="category-complaint"
                value="complaint">
              <label class="form-check-label" for="category-complaint">Complaint</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="category" id="category-info"
                value="info" />
              <label class="form-check-label" for="category-info">Info</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="category" id="category-corporate"
                value="corporate" />
              <label class="form-check-label" for="category-corporate">Corporate</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="category" id="category-sc"
                value="sc" />
              <label class="form-check-label" for="category-sc">Service Centers</label>
            </div>
          </div>

          <div id="complaint" class="form-group d-none">
            <label for="complaint-select">Complaint Subcategory:</label>
            <select id="complaint-select" name="complaint" class="form-control">
              <option value="additionalservice">Additional Service Complaint</option>
              <option value="call">Call Complaint</option>
              <option value="network">Coverage &amp; Network Quality Complaint</option>
              <option value="data">Data Complaint</option>
              <option value="digitalserice">Digital Service Complaint</option>
              <option value="momo">MoMo Service</option>
              <option value="credit">Recharge, Balance &amp; Transfer Complaint</option>
              <option value="sim">SIM Card Problems &amp; Profiles</option>
              <option value="sms">SMS Complaint</option>
              <option value="voice">Voice Offers Comlaint</option>
            </select>
          </div>

          <div id="info" class="form-group d-none">
            <label for="info-select">Info Subcategory:</label>
            <select id="info-select" name="info" class="form-control">
              <option value="additionalservice">Additional Services Info</option>
              <option value="basicservice">Basic Services Info</option>
              <option value="customerservice">Customer Service Info</option>
              <option value="network">Network Info</option>
              <option value="credit">Recharge &amp; Credit Transfer Info</option>
              <option value="sim">SIM Card, GSM Number &amp; Profile Info</option>
              <option value="sms">SMS Info</option>
              <option value="suggestion">Suggestion</option>
              <option value="voice">Voice Info</option>
            </select>
          </div>

          <div id="corporate" class="form-group d-none">
            <label for="corporate-select">Corporate Subcategory:</label>
            <select id="corporate-select" name="corporate" class="form-control">
              <option value="complaint">Customer Complaint</option>
              <option value="email">Email</option>
              <option value="suggestions">Suggestion</option>
            </select>
          </div>

          <div id="sc" class="form-group d-none">
            <label for="sc-select">HD Subcategory:</label>
            <select id="sc-select" name="sc" class="form-control">
              <option value="collection">Collection &amp; Voice</option>
              <option value="modification">Modification</option>
              <option value="sales">Sales</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
      </div>
    </div>
    {% else %}
    <h1 class="display1">DONE!</h1>
    {% endif %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>